<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="pluginLoader" type="Common.Configuration.PluginLoaderConfiguration, Common" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <pluginLoader>
    <coreAssemblies>
      <add assembly="Data.Core" path="" priority="4" />
      <add assembly="Data.ArangoDB" path="" priority="3" />
      <add assembly="Suffuz" path="" priority="5" />
      <add assembly="Common" path="" priority="1" />
      <add assembly="Common.Web" path="" priority="2" />
    </coreAssemblies>
    <discoveryPaths>
      <add path="Apps" recurse="true" />
    </discoveryPaths>
  </pluginLoader>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Suffuz" connectionString="DatabaseHost: localhost; DatabasePort: 8529; DatabaseName: Suffuz; Username: root; Password: JustFl0ck!t" />
    <add name="Root_Context" connectionString="DatabaseHost: localhost; DatabasePort: 8529; DatabaseName: _system; Username: root; Password: JustFl0ck!t" />
  </connectionStrings>
  <appSettings>
    <add key="ProductName" value="Suffuz" />
    <add key="ContextAssembly" value="Suffuz" />
    <add key="BaseUri" value="http://localhost:9005" />
    <add key="SearchUri" value="http://localhost:8983/solr/gettingstarted/select?" />
    <add key="WebUri" value="http://localhost:8090" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="LogPath" value="C:\\Logs" />
    <add key="WebRoot" value="D:\Code\Altus\Search\Search\Site" />
    <add key="token_encryption_key" value="ezExMDcxNDdCLTkxREUtNEFGMi04QjQ2LURDRTA0M0MzNTJBQn0=|ezc2NDQ2M0NDLUNDRUYtNDM1RC04QTgxLTZEMjlFQUEyOTBFNX0=" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="slack:client_id" value="176948471495.185445577424" />
    <add key="slack:client_secret" value="a8a9912cb0116048291a070a8ff6769f" />
    <add key="slack:redirect_uri" value="http://localhost:9005/authorization" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="TraceLevelSwitch" value="4" />
    </switches>
  </system.diagnostics>
</configuration>