/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      padding-top: 40px;
  xpadding-bottom: 10px;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #EC008C;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 660px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }
    .form-login input[type="text"],
    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .navbar-inverse{
        background: #00AEEF !important;
    }

    .jumbotron{
        background-color: white;
    }

    .nohover:hover{
        text-decoration: none;
    }

    .title-heading{
        width: 100%;
        line-height:3em;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top:3em;
    }

    .breadcrumbs{
        font-size:0.75em;
        
    }

    .breadcrumbs a
    {
        color:#bbc;
    }

    .breadcrumbs > .active{
        font-size:1.1em;
        color:#667;
    }

    .breadcrumbs > .active a
    {
        color:#bbc;
    }

    td{
        line-height:1.5em;
        padding:0.5em;
        vertical-align:top;
    }