/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      padding-top: 40px;
  xpadding-bottom: 10px;
  background-color: #f0f0ff;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #EC008C;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 660px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }
    .form-login input[type="text"],
    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .navbar-inverse{
        background: #00AEEF !important;
    }

    .jumbotron{
        background-color: transparent;
    }

    .nohover:hover{
        text-decoration: none;
    }

    .title-heading{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top:3em;
        white-space:nowrap;
    }

    .title-banner{
        margin-top:1.5em;
    }

    .title-logo-small{
        width:128px;
    }

    .title-text-small{
        display: block;
        white-space:nowrap;
    }

    .breadcrumbs{
        font-size:0.75em;
        margin-bottom:1.5em;
    }

    .breadcrumbs a
    {
        color:#bbc;
    }

    .breadcrumbs > .active{
        font-size:1.1em;
        color:#EC008C;
    }

    .breadcrumbs > .active a
    {
        color:#EC008C;
    }

    .shadowbox{
        box-shadow: 0 1px 30px rgba(0,0,0,.1);
        border-radius:0 0 10px 10px;
        padding-bottom:10px;
        border-top:9px solid #00AEEF;
        background-color:white;
        width: 300px;
    }

    .shadowbox-content{
        border-top:6px solid #EC008C;
        clear:both;
    }

    .shadowbox-content-title{
        clear:both;
    }

    .price-left{
        float: left;
        width: 135px; 
        margin-left: 5px; 
        margin-right: 5px;
    }

    .price-right{
        float: right;
        width: 135px; 
        margin-left: 5px; 
        margin-right: 5px;
    }

    .price-divider{
        float:left;
        border-right:1px solid #EC008C;
        width:1px;
        height:215px;
        margin-top:85px;
    }

    @media screen and (min-width: 375px) {
        .shadowbox {
            width: 350px;
        }
        .price-left, .price-right{
            width:150px;
        }
    }

    @media screen and (min-width: 414px) {
        .shadowbox {
            width: 390px;
        }
        .price-left, .price-right{
            width:180px;
        }
    }

    @media screen and (min-width: 768px) {
        .shadowbox {
            width: 720px;
        }
        .price-left, .price-right{
            width:340px;
        }
    }

    td{
        line-height:1.5em;
        padding:0.5em;
        vertical-align:top;
    }