<div class="jumbotron" data-ng-hide="authentication.isAuth">
    <div>
        <div class="text-center">
            <img src="content/images/suffuz_512.png" style="display:inline-block; vertical-align:middle; width:256px;" />
            <div style="display:inline-block; vertical-align:middle;">
                <h1>Welcome to Suffuz!</h1>
                <h2>Knowledge, When You Need It</h2>
                <a href="#/signup/customer" class="nohover" style="display: block;
                                    background-color:#EC008C;
                                    border-color:#840043;
                                    border-bottom-left-radius: 8px;
                                    border-bottom-right-radius: 8px;
                                    border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;
                                    border-width:0px;
                                    color: white;
                                    height:3em;
                                    width: 8em;
                                    font-size:1.5em;
                                    box-shadow: rgba(0,0,0,0.2) 3px 3px;
                                    margin:auto;
                                    text-align:center;
                                    vertical-align:middle;
                                    line-height:3em;">
                    Get Started
                </a>
                <div style="margin-left:auto; margin-top:10px;">Already hooked up? <a href="#/login">Sign In</a> </div>
            </div>
        </div>
    </div>
</div>
<div  data-ng-hide="!authentication.isAuth">
    Configured sources:
</div>
