<form class="form-login" role="form">
    <h2 class="form-login-heading">Login</h2>
    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=176948471495.185445577424&redirect_uri=http://localhost:9005/signin">
        <img alt="Sign in with Slack" height="40" width="172"
             src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
             srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
    </a>
</form>