<div class="text-center">
    <div class="container">
        <img src="/content/images/suffuz_512.png" style="height:128px;display:inline;" />
        <h2 style="display:inline;white-space:nowrap;">Pricing and Payments</h2>
    </div>
    
    <div class="text-center container" style="width:700px;box-shadow: 0 1px 30px rgba(0,0,0,.1);border-radius:0 0 10px 10px;padding-left:0px;padding-right:0px;padding-bottom:10px;border-top:9px solid #00AEEF;">
        <h3 style="font-weight:bold">Simple Pricing</h3>
        <div style="border-top:6px solid #EC008C">
            <div style="float:left; width:200px; margin-left:70px; margin-right:60px;">
                <div style="width:100%;text-align:center;font-size:2em;font-weight:bold;">Free</div>
                <div>
                    <span style="font-size:1.5em;color:#555;">$</span><span style="font-size:5em;font-weight:bold;">0</span>
                </div>
                <div>
                    <div style="font-weight:bold;text-align:center;width:100%;color:#333;margin-bottom:1em;">What's Included</div>
                    <div style="text-align:left">
                        <ul>
                            <li>
                                up to 10,000 words of indexed content
                            </li>
                            <li>
                                up to 100 searches per team
                            </li>
                            <li>
                                up to 20 Mb of hosted static content
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="float:left;border-right:1px solid #EC008C;width:1px;height:215px;margin-top:85px;"></div>
            <div style="float:right;  width:200px; margin-left:70px; margin-right:60px;">
                <div style="width:100%;text-align:center;font-size:2em;font-weight:bold;">Standard</div>
                <div>
                    <span style="font-size:1.5em;color:#555;">$</span><span style="font-size:5em;font-weight:bold;">5</span>
                </div>
                <div>
                    <div style="font-weight:bold;text-align:center;width:100%;color:#333;margin-bottom:1em;">What's Included</div>
                    <div style="text-align:left">
                        <ul>
                            <li>
                                all of Free, plus
                            </li>
                            <li>
                                per additional 25,000 indexed words<span>*</span>
                            </li>
                            <li>
                                per additional 200 searches per team<span>*</span>
                            </li>
                            <li>
                                per additional 50 Mb of hosted static content<span>*</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="color:#555;font-size:0.8em;"><em>* billed separately per month</em></div>
            </div>

        </div>
        <div style="bottom: 0;clear: both;text-align: left;margin-left: 10px;padding-top:30px;">
            <span><em>For a detailed description of our services, see our <a href="/#/whatwedo">What We Do</a> page.</em></span>
        </div>
    </div>
    
    <div class="container form-login" style="font-size:1.3em;margin-top:2em;font-weight:lighter;margin-bottom:5em;text-align:left;">
        <h3>Simple Payments</h3>
        <div>
            <p>
                Our model is simple: pay for what you use.
            </p>
            <p>
                All payments are billed to the credit/debit card of your choice. Charges are posted at the end of every month, based on cumulative service utilization as described above. You may cancel at any time. You may change your method of payment at any time.
            </p>
            <p>
                And if you never want to pay, that's ok too.  Just choose to restrict your service to never incur charges when you register your account, and you'll never even need to give us a credit card.
            </p>
            <p>
                That's it.  It doesn't get much easier than that.
            </p>
        </div>
    </div>
</div>
