<div class="text-center">
    <div class="title-banner">
        <img src="/content/images/suffuz_512.png" class="title-logo-small" />
        <h1 class="title-text-small">Pricing and Payments</h1>
    </div>
    <div class="container shadowbox" style="padding-left:0px;padding-right:0px;">
        <h2 class="shadowbox-content-title">Simple Pricing</h2>
        <div class="shadowbox-content">
            <div class="price-left">
                <div style="width:100%;text-align:center;font-size:2em;font-weight:bold;">Free</div>
                <div>
                    <span style="font-size:1.5em;color:#555;">$</span><span style="font-size:5em;font-weight:bold;">0</span><span style="font-size:0.75em;color:#555">per month</span>
                </div>
                <div>
                    <div style="font-weight:bold;text-align:center;width:100%;color:#333;margin-bottom:1em;">What's Included</div>
                    <div style="text-align:left">
                        <ul>
                            <li>
                                up to 10,000 words of indexed content
                            </li>
                            <li>
                                up to 100 searches per team
                            </li>
                            <li>
                                up to 20 Mb of hosted static content
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="price-divider"></div>
            <div class="price-right">
                <div style="width:100%;text-align:center;font-size:2em;font-weight:bold;">Standard</div>
                <div>
                    <span style="font-size:1.5em;color:#555;">$</span><span style="font-size:5em;font-weight:bold;">5</span><span style="font-size:0.75em;color:#555">per month</span>
                </div>
                <div>
                    <div style="font-weight:bold;text-align:center;width:100%;color:#333;margin-bottom:1em;">What's Included</div>
                    <div style="text-align:left">
                        <ul>
                            <li>
                                all of Free, plus
                            </li>
                            <li>
                                per additional 25,000 indexed words<span>*</span>
                            </li>
                            <li>
                                per additional 200 searches per team<span>*</span>
                            </li>
                            <li>
                                per additional 50 Mb of hosted static content<span>*</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="color:#555;font-size:0.8em;"><em>* billed separately per month</em></div>
            </div>

        </div>
        <div style="bottom: 0;clear: both;text-align: left;margin-left: 10px;padding-top:30px;">
            <span><em>For a detailed description of our services, see our <a href="/#/whatwedo">What We Do</a> page.</em></span>
        </div>
    </div>
    
    <div class="container shadowbox" style="font-size:1.3em;margin-top:2em;font-weight:lighter;margin-bottom:5em;padding-left:0px;padding-right:0px;">
        <h2>Simple Payments</h2>
        <div style="border-top:6px solid #EC008C;padding:10px;text-align:left;">
            <p>
                Our model is simple: pay for what you use.
            </p>
            <p>
                All payments are billed to the credit/debit card of your choice. Charges are posted at the end of every month, based on cumulative service utilization as described above. You may cancel at any time. You may change your method of payment at any time.
            </p>
            <p>
                And if you never want to pay, that's ok too.  Just choose to restrict your service to never incur charges when you register your account, and you'll never even need to give us a credit card.
            </p>
            <p>
                That's it.  It doesn't get much easier than that.
            </p>
        </div>
    </div>
</div>
